input[type=text], select , input[type=email] , textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: Calibri;
	font-size: 20px;
}
input[type=submit] {
	width: 100%;
	background-color: #FFA500;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: Calibri;
	font-size: 20px;
}
input[type=submit]:hover {
	background-color: #FF8C00;
	font-family: Calibri;
	font-size: 20px;
}

label {
	font-family: Calibri;
	font-size: 20px;
}
#wrapper {
	border-radius: 5px;
	padding: 20px;
	font-family: Calibri;
	font-size: 20px;
}
h3{
	font-family: Calibri;
}
#container{
	background-image: url("../Batik-Bolong.png");
}
#header{
	font-family: Calibri;
	width: 100%;
	height: 200px;
}
#logo{
	float:left;
	height: 100px;

}
#logo-kanan{
	float:right;
	margin-top: 50px;
	color: #FF8C00;
	font-size: 40px;
	font-family: Arial-Black;
}

table {
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #FF8C00;
    border-collapse: collapse;
	width: 100%;
	height: 300px;
}
table th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #FF8C00;
	background-color: #FF8C00;
	color: #ffffff;
	}
table tr:hover td {
	rsor: pointer;
}
table tr:nth-child(even) td{
	background-color: #FF8C00;
}
table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #FF8C00;
	background-color: #ffffff;
}